/dist/
/vendor/

# Package manager related
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
deno.lock

# Private
/themes/*
/quickcss/*
/logs/
/config.json

# Necessary
!**/.gitkeep


# App
/app-src/dist/
/app-src/out/
/app-src/themes/*
/app-src/quickcss/*
/app-src/logs/
/app-src/config.json
