/dist/
/vendor/

# Package manager related
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
deno.lock

# Private
/themes/*
/quickcss/*
/logs/
/config.json

# Necessary
!**/.gitkeep


# App
/src/app/dist/
/src/app/out/
/src/app/themes/*
/src/app/quickcss/*
/src/app/logs/
/src/app/config.json
